.idea/*
.gradle/*

eclipse/*
out/*
classes/*
src/bin/*

*.class
*.ase
*.ase
*.bat
*.lock
*.lock
*.mca
*.thaumback
*.baubback
*.thaum
*.baub
*.dat
*.txt
*.iml
*.iws
*.ipr
*.zip

.gitattributes
.gitignore
